body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 25px;
  text-align: center;
  color: #000;
  background-color: #ddd;
}

body[data-theme="light"] {
  color: #000;
  background-color: #ddd;

  & > .box {
    background-color: #000;
  }

  .movie {
    color: #000;
    background-color: #fff;
  }

  h3 {
    color: black;
  }
}

body[data-theme="dark"] {
  color: #fff;
  background-color: #111;

  & > .box {
    background-color: #333;
  }

  .movie{
    color: #ddd;
    background: #555;
  }

  h3 {
    color: #fff;
  }
}

h3:hover {
  color: red;
}

.menu {
  position: relative;
  cursor: pointer;
}

.menu:hover .menu-option {
  display: block;
  background-color: #222;
}

.menu-dropdown {
    position: absolute;
}

.menu:hover .menu-dropdown {
  display: block;
}

.menu-option {
  position: relative;
  display: none;
  padding: 10px 30px;
  height: 35px;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 20px 15px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

.red-button {
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.red-button:hover {
  background-color: #a01010;
}

.movie {
  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

/* TODO: image will placed inside drawer instead of movie div */
.movie img {
  max-width: 100px;
  margin-right: 10px;
}

.comments {
  margin-top: 10px;
}

.add-movie-form {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  /* width: 100%;
  height: 100%; */
  overflow: auto;
  background-color: #222;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #fff;
}

a:hover {
    color: red;
}

/* TODO: belowe are styles for drawer, which needs to be refactored  */

.drawer {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #222;
    color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
}

.drawer.open {
    right: 0;
}

#drawerMovieContent img {
    max-width: 98%;
    border-radius: 7px;
    margin-bottom: 12px;
    background: #fff;
}

#drawerMovieContent h2 {
    color: #ffe18b;
    margin-top: 7px;
    margin-bottom: 7px;
}

#drawerMovieContent p {
    color: #f5f5f5;
    margin-bottom: 0.7em;
}

body.dark-mode #drawerMovieContent h2 {
    color: #ffcc66;
}

body.dark-mode #drawerMovieContent p {
    color: #ddd;
}